
{% extends 'layout.html.twig' %}

{% block body %}
     {{parent()}}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h1>Subir Archivo</h1>
                    {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
               <div class="container">

         {% endfor %}    
                </div>

                <div class="panel panel-body">
                  
                    
                    
                    <form role="form" enctype="multipart/form-data" method="post" action="{{path('emm_user_subir')}}">
                        <label class="sr-only"  for="formu">archivo</label>
                        <input type="file"  name="archivito" class="form-control" id="formu"/>
                        
                         

                      
                        <label for="formu"> Titulo</label>
                      <input type="text" class="form-control" id="url" name="titulo" placeholder="escribe un titulo"/>
                      
                                            <label for="formu"> URL</label>
                      <input type="text" class="form-control" id="url" name="url" placeholder="direccion unica para la entrada"/>
                      
                       <label for="formu"> descripcion </label>
                       <textarea class="form-control" rows="3"  name="descripcion" ></textarea>
                       
                      
                        <button type="submit" class="btn btn-default">Enviar</button>
                        
                        
                    </form>
                    
                        
                 

            </div>
        </div>
                        
    </div>
    <img id="imagen" src={{asset('uploads/archivos/phpFB19.tmp')}} alt="CF"/>                    


</div>
{% endblock %}