h2 {
	color:orange;
}

#sidebar{
	padding: 0px !important;
	margin: 2px auto;

}
#imagen{
	width:100%;
	i
}

.carruselpadding{
	margin-bottom:3em;
	 border:4px solid #201733;
}

#sidebar{
	border:4px solid #201733;
	margin-bottom: 0px !important;
}
.list-group{
	margin-bottom: 0px !important;
}
#google-map{
	margin-top:2em;
}
/*
#cajalinks{
	margin : 10px auto;
	border:3px solid #000;
	margin-left: 45px;
}

#cajadetodo{
	margin-top: 10px;
	border:3px solid #000;

}							

